<form action="/places/new" method="POST">
  <label for="kind">Kind</label>
  <input type="text" id="kind" name="kind">

  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="description">Description</label>
  <input type="text" name="description" id="description">

  <label>Location</label>
  <input type="text" name="latitude" placeholder="Latitude">
  <input type="text" name="longitude" placeholder="Longitude">

  <button type="submit">Add a place</button>
</form>
<a href="/places">Go to places list</a>
